# Environment variables for local development
# Copy this file to .env.local and fill in values

VITE_API_URL=http://localhost:3001/api
VITE_GOOGLE_CLIENT_ID=260988613071-nmmtsqvhhlc3bhogone3hashmouqkqdt.apps.googleusercontent.com
